# Configurações do Flask
FLASK_ENV=development
FLASK_PORT=5000
FLASK_SECRET_KEY=sua_chave_secreta_aqui_gerada_com_seguranca

# Configurações do MongoDB
# No ambiente local, conectará ao MongoDB local. Em produção, insira a URI correspondente.
MONGO_URI=mongodb://localhost:27017/

# Configurações do Nginx / Proxy Reverso (Se aplicável)
# Deixe em branco se a aplicação rodar na raiz.
# Em produção, se mapeada pelo subcaminho /corp, informe "/corp"
SCRIPT_NAME_PREFIX=
